#main-article {
    background-color: blueviolet;
}

#second-article {
    background-color: rgb(126, 91, 158);
}

#third-article {
    background-color: rgb(69, 41, 95);
}

.article {
    margin: 50px 25px;
    background-color: blueviolet;
    color: white;
    padding: 25px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 400px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

}

header {
    background-color: darkcyan;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav ul {
display: flex;
}

li {
    list-style-type: none;
    color: white;
}

a {
    color: white;
    outline: none;
}

body {
    margin: 0;
}

.text-xl {
    front-size: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}